body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   background-color: chocolate;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}
